In [2]:
import pandas as pd

In [21]:
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv(f'../../assets/data/df.csv', sep='|', low_memory=False)

In [8]:
df = pd.read_csv('../../assets/data/dashboard-data.csv', sep='|', low_memory=False)

In [9]:
df.shape

(3676922, 22)

In [67]:
df = df[df['Type local'].notna()]
df.shape

(2335343, 24)

In [68]:
df = df[df['code_departement'].notna()]
df.shape

(2311303, 24)

In [13]:
def definePrice(x):
    if (x['Surface reelle bati'] > 0):
        return (x['Valeur fonciere'] / x['Surface reelle bati'])
    elif (x['Surface terrain'] > 0):
        return (x['Valeur fonciere'] / x['Surface terrain'])
    else:
        return 0

In [14]:
def defineSurface(x):
    if (x['Surface reelle bati'] > 0):
        return x['Surface reelle bati']
    elif (x['Surface terrain'] > 0):
        return x['Surface terrain']
    else:
        return pd.NA

In [16]:
df['metre carre'] = df.apply(definePrice, axis=1)

In [15]:
df['Surface'] = df.apply(defineSurface, axis=1)

In [20]:
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,...,Nombre pieces principales,Surface terrain,code_departement,departement,population,annee,mois,nom_mois,Surface,metre carre
2,2018-01-04,Vente,67000.0,12.0,ALL,3044,DE LA PETITE REYSSOUZE,1000.0,BOURG-EN-BRESSE,53,...,1.0,NaN,01,Ain,647634.0,2018,1,Janvier,45.0,1488.888889
3,2018-01-11,Vente,76200.0,5.0,RUE,2690,MOLIERE,1000.0,BOURG-EN-BRESSE,53,...,3.0,NaN,01,Ain,647634.0,2018,1,Janvier,68.0,1120.588235
5,2018-01-12,Vente,130000.0,10.0,RUE,0130,DE LA POMPE,1160.0,VARAMBON,430,...,3.0,55.0,01,Ain,647634.0,2018,1,Janvier,80.0,1625.000000
6,2018-01-04,Vente,164370.0,56.0,ALL,0134,DU COURLIS CENDRE,1290.0,CORMORANCHE-SUR-SAONE,123,...,4.0,419.0,01,Ain,647634.0,2018,1,Janvier,88.0,1867.840909
7,2018-01-15,Vente,97000.0,9.0,RUE,0133,DU CHATEAU D EAU,1750.0,SAINT-LAURENT-SUR-SAONE,370,...,4.0,NaN,01,Ain,647634.0,2018,1,Janvier,90.0,1077.777778

In [95]:
df.drop('metre carre', axis=1, inplace=True)
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,code_departement,departement,population,annee,mois,nom_mois,Surface
2,2018-01-04,Vente,67000.0,12.0,ALL,3044,DE LA PETITE REYSSOUZE,1000.0,BOURG-EN-BRESSE,53,1,2.0,Appartement,45.0,1.0,NaN,01,Ain,647634.0,2018,1,Janvier,45.0
3,2018-01-11,Vente,76200.0,5.0,RUE,2690,MOLIERE,1000.0,BOURG-EN-BRESSE,53,2,2.0,Appartement,68.0,3.0,NaN,01,Ain,647634.0,2018,1,Janvier,68.0
5,2018-01-12,Vente,130000.0,10.0,RUE,0130,DE LA POMPE,1160.0,VARAMBON,430,0,1.0,Maison,80.0,3.0,55.0,01,Ain,647634.0,2018,1,Janvier,80.0
6,2018-01-04,Vente,164370.0,56.0,ALL,0134,DU COURLIS CENDRE,1290.0,CORMORANCHE-SUR-SAONE,123,0,1.0,Maison,88.0,4.0,419.0,01,Ain,647634.0,2018,1,Janvier,88.0
7,2018-01-15,Vente,97000.0,9.0,RUE,0133,DU CHATEAU D EAU,1750.0,SAINT-LAURENT-SUR-SAONE,370,1,2.0,Appartement,90.0,4.0,NaN,01,Ain,647634.0,2018,1,Janvier,90.0

In [93]:
prix_carre = df.groupby(['code_departement'])['metre carre'].mean()
prix_carre = prix_carre.reset_index()

In [96]:
df = df.merge(prix_carre, how='left', on='code_departement')
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,code_departement,departement,population,annee,mois,nom_mois,Surface,metre carre
0,2018-01-04,Vente,67000.0,12.0,ALL,3044,DE LA PETITE REYSSOUZE,1000.0,BOURG-EN-BRESSE,53,1,2.0,Appartement,45.0,1.0,NaN,01,Ain,647634.0,2018,1,Janvier,45.0,2173.116782
1,2018-01-11,Vente,76200.0,5.0,RUE,2690,MOLIERE,1000.0,BOURG-EN-BRESSE,53,2,2.0,Appartement,68.0,3.0,NaN,01,Ain,647634.0,2018,1,Janvier,68.0,2173.116782
2,2018-01-12,Vente,130000.0,10.0,RUE,0130,DE LA POMPE,1160.0,VARAMBON,430,0,1.0,Maison,80.0,3.0,55.0,01,Ain,647634.0,2018,1,Janvier,80.0,2173.116782
3,2018-01-04,Vente,164370.0,56.0,ALL,0134,DU COURLIS CENDRE,1290.0,CORMORANCHE-SUR-SAONE,123,0,1.0,Maison,88.0,4.0,419.0,01,Ain,647634.0,2018,1,Janvier,88.0,2173.116782
4,2018-01-15,Vente,97000.0,9.0,RUE,0133,DU CHATEAU D EAU,1750.0,SAINT-LAURENT-SUR-SAONE,370,1,2.0,Appartement,90.0,4.0,NaN,01,Ain,647634.0,2018,1,Janvier,90.0,2173.116782

In [102]:
df2 = df.copy()

In [103]:
for col in df2.select_dtypes(exclude='object'):
    q1 = df2[col].quantile(q=0.25)
    q3 = df2[col].quantile(q=0.75)

    IQR = q3 - q1

    borne_inf = q1 - 1.5 * IQR
    borne_sup = q3 + 1.5 * IQR
    df2 = df2[df2[col] < borne_sup]
    df2 = df2[df2[col] > borne_inf]
    df2[col].fillna(df2[col].median(), inplace=True)
df2.shape

(908681, 24)

In [113]:
df2[['Valeur fonciere', 'population', 'Surface reelle bati', 'Surface terrain', 'metre carre']][df['Code type local'].isin([1,2])].corr()

/var/folders/p1/rvvwk6r96h3bxxgql7f7p5ch0000gn/T/ipykernel_4361/6852040.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2[['Valeur fonciere', 'population', 'Surface reelle bati', 'Surface terrain', 'metre carre']][df['Code type local'].isin([1,2])].corr()

,Valeur fonciere,population,Surface reelle bati,Surface terrain,metre carre
Valeur fonciere,1.000000,0.287980,0.370852,0.199698,0.522390
population,0.287980,1.000000,-0.014508,-0.158110,0.672856
Surface reelle bati,0.370852,-0.014508,1.000000,0.312306,-0.006314
Surface terrain,0.199698,-0.158110,0.312306,1.000000,-0.100473
metre carre,0.522390,0.672856,-0.006314,-0.100473,1.000000

In [29]:
df.shape

(2335605, 24)

- 57 -> 1700
- 67 -> 3800
- 68 -> 2460

In [30]:
df.drop(df[((df['Code type local'] != 3) & (df['Surface'].isna()))].index, axis=0, inplace=True)
df.shape

(2335343, 24)

In [32]:
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,code_departement,departement,population,annee,mois,nom_mois,Surface,metre carre
2,2018-01-04,Vente,67000.0,12.0,ALL,3044,DE LA PETITE REYSSOUZE,1000.0,BOURG-EN-BRESSE,53,1,2.0,Appartement,45.0,1.0,NaN,01,Ain,647634.0,2018,1,Janvier,45.0,1488.888889
3,2018-01-11,Vente,76200.0,5.0,RUE,2690,MOLIERE,1000.0,BOURG-EN-BRESSE,53,2,2.0,Appartement,68.0,3.0,NaN,01,Ain,647634.0,2018,1,Janvier,68.0,1120.588235
5,2018-01-12,Vente,130000.0,10.0,RUE,0130,DE LA POMPE,1160.0,VARAMBON,430,0,1.0,Maison,80.0,3.0,55.0,01,Ain,647634.0,2018,1,Janvier,80.0,1625.000000
6,2018-01-04,Vente,164370.0,56.0,ALL,0134,DU COURLIS CENDRE,1290.0,CORMORANCHE-SUR-SAONE,123,0,1.0,Maison,88.0,4.0,419.0,01,Ain,647634.0,2018,1,Janvier,88.0,1867.840909
7,2018-01-15,Vente,97000.0,9.0,RUE,0133,DU CHATEAU D EAU,1750.0,SAINT-LAURENT-SUR-SAONE,370,1,2.0,Appartement,90.0,4.0,NaN,01,Ain,647634.0,2018,1,Janvier,90.0,1077.777778

In [65]:
df[df['Code type local'] == 3]

Date mutation                     0
Nature mutation                   0
Valeur fonciere                   0
No voie                        4570
Type de voie                  13785
Code voie                         0
Voie                              0
Code postal                      24
Commune                           0
Code commune                      0
Nombre de lots                    0
Code type local                   0
Type local                        0
Surface reelle bati               7
Nombre pieces principales         7
Surface terrain              196651
code_departement                542
departement                     542
population                      542
annee                             0
mois                              0
nom_mois                          0
Surface                      196651
metre carre                       0
dtype: int64

In [115]:
df.shape

(2311303, 24)

In [ ]:
df.to_csv('../../assets/data/dashboard-data.csv', sep='|', index=False)

In [22]:
dfAddress = pd.read_csv('../../assets/data/communes-departement-region.csv', sep=',')
dfAddress = dfAddress.drop_duplicates(subset=['code_region'])

In [25]:
dfRegions = pd.DataFrame(dfAddress[['code_region', 'nom_region']].dropna(axis=0), columns=['code_region', 'nom_region'])

In [28]:
dfRegions.code_region = dfRegions.code_region.astype('int').astype('str').str.pad(2, side='left', fillchar='0')

In [29]:
dfRegions

      code_region                  nom_region
0              84        Auvergne-RhÃ´ne-Alpes
457            32             Hauts-de-France
1608           93  Provence-Alpes-CÃ´te d'Azur
2582           44                   Grand Est
3086           76                   Occitanie
4861           28                   Normandie
5889           75          Nouvelle-Aquitaine
6823           24         Centre-Val de Loire
7406           27     Bourgogne-Franche-ComtÃ©
8124           53                    Bretagne
11847          94                       Corse
17923          52            Pays de la Loire
32613          11               ÃŽle-de-France
38725          01                  Guadeloupe
38763          02                  Martinique
38801          03                      Guyane
38826          04                  La RÃ©union
38914          06                     Mayotte

In [31]:
dfRegions.to_csv('../../assets/data/regions.csv', sep=';', index=False)

In [33]:
dfAddress = pd.read_csv('../../assets/data/communes-departement-region.csv', sep=',')
dfAddress = dfAddress.drop_duplicates(subset=['code_departement'])

In [70]:
dfDepts = pd.DataFrame(dfAddress[['code_departement', 'nom_departement', 'code_region', 'nom_region']].dropna(axis=0), columns=['code_departement', 'nom_departement', 'code_region', 'nom_region'])
dfDepts.code_departement = dfDepts.code_departement.astype('str').str.pad(2, side='left', fillchar='0')
dfDepts.code_region = dfDepts.code_region.astype('int').astype('str').str.pad(2, side='left', fillchar='0')

In [79]:
dfDepts

,code_departement,nom_departement,code_region,nom_region
0,01,Ain,84,Auvergne-RhÃ´ne-Alpes
457,02,Aisne,32,Hauts-de-France
1287,03,Allier,84,Auvergne-RhÃ´ne-Alpes
1608,04,Alpes-de-Haute-Provence,93,Provence-Alpes-CÃ´te d'Azur
1852,05,Hautes-Alpes,93,Provence-Alpes-CÃ´te d'Azur
...,...,...,...,...
38725,971,Guadeloupe,01,Guadeloupe
38763,972,Martinique,02,Martinique
38801,973,Guyane,03,Guyane
38826,974,La RÃ©union,04,La RÃ©union
38914,976,Mayotte,06,Mayotte

In [64]:
dfDepts[dfDepts['code_departement'] == '01']['nom_departement'].iloc[0]

'Ain'

In [3]:
df = pd.read_csv('../../assets/data/dashboard-data.csv', sep='|', low_memory=False)

In [4]:
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,...,Nombre pieces principales,Surface terrain,code_departement,departement,population,annee,mois,nom_mois,Surface,metre carre
0,2018-01-04,Vente,67000.0,12.0,ALL,3044,DE LA PETITE REYSSOUZE,1000.0,BOURG-EN-BRESSE,53,...,1.0,NaN,01,Ain,647634.0,2018,1,Janvier,45.0,2173.116782
1,2018-01-11,Vente,76200.0,5.0,RUE,2690,MOLIERE,1000.0,BOURG-EN-BRESSE,53,...,3.0,NaN,01,Ain,647634.0,2018,1,Janvier,68.0,2173.116782
2,2018-01-12,Vente,130000.0,10.0,RUE,0130,DE LA POMPE,1160.0,VARAMBON,430,...,3.0,55.0,01,Ain,647634.0,2018,1,Janvier,80.0,2173.116782
3,2018-01-04,Vente,164370.0,56.0,ALL,0134,DU COURLIS CENDRE,1290.0,CORMORANCHE-SUR-SAONE,123,...,4.0,419.0,01,Ain,647634.0,2018,1,Janvier,88.0,2173.116782
4,2018-01-15,Vente,97000.0,9.0,RUE,0133,DU CHATEAU D EAU,1750.0,SAINT-LAURENT-SUR-SAONE,370,...,4.0,NaN,01,Ain,647634.0,2018,1,Janvier,90.0,2173.116782

In [12]:
dfAddress = pd.read_csv('../../assets/data/communes-departement-region.csv', sep=',')
dfAddress = dfAddress.drop_duplicates(subset=['code_departement'])
dfAddress.code_departement = dfAddress.code_departement.astype('str').str.pad(2, side='left', fillchar='0')

In [13]:
dfAddress.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153425 5214,4.926114,1.0,L',Abergement-ClÃ©menciat,L'Abergement-ClÃ©menciat,01,Ain,84.0,Auvergne-RhÃ´ne-Alpes
457,2001,ABBECOURT,2300,ABBECOURT,NaN,49.5991518653,3.177082,1.0,NaN,AbbÃ©court,AbbÃ©court,02,Aisne,32.0,Hauts-de-France
1287,3001,ABREST,3200,ABREST,NaN,46.0955766716,3.450525,1.0,NaN,Abrest,Abrest,03,Allier,84.0,Auvergne-RhÃ´ne-Alpes
1608,4001,AIGLUN,4510,AIGLUN,NaN,44.0638744567,6.138428,1.0,NaN,Aiglun,Aiglun,04,Alpes-de-Haute-Provence,93.0,Provence-Alpes-CÃ´te d'Azur
1852,5001,ABRIES,5460,ABRIES,NaN,44.8163462455,6.941644,1.0,NaN,AbriÃ¨s,AbriÃ¨s,05,Hautes-Alpes,93.0,Provence-Alpes-CÃ´te d'Azur

In [14]:
d3 = df.merge(dfAddress.loc[:, ['code_departement', 'nom_departe' 'code_region', 'nom_region', 'latitude', 'longitude']], how='left', on='code_departement')
d3.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,code_departement,departement,population,annee,mois,nom_mois,Surface,metre carre,code_region,nom_region,latitude,longitude
0,2018-01-04,Vente,67000.0,12.0,ALL,3044,DE LA PETITE REYSSOUZE,1000.0,BOURG-EN-BRESSE,53,1,2.0,Appartement,45.0,1.0,NaN,01,Ain,647634.0,2018,1,Janvier,45.0,2173.116782,84.0,Auvergne-RhÃ´ne-Alpes,46.153425 5214,4.926114
1,2018-01-11,Vente,76200.0,5.0,RUE,2690,MOLIERE,1000.0,BOURG-EN-BRESSE,53,2,2.0,Appartement,68.0,3.0,NaN,01,Ain,647634.0,2018,1,Janvier,68.0,2173.116782,84.0,Auvergne-RhÃ´ne-Alpes,46.153425 5214,4.926114
2,2018-01-12,Vente,130000.0,10.0,RUE,0130,DE LA POMPE,1160.0,VARAMBON,430,0,1.0,Maison,80.0,3.0,55.0,01,Ain,647634.0,2018,1,Janvier,80.0,2173.116782,84.0,Auvergne-RhÃ´ne-Alpes,46.153425 5214,4.926114
3,2018-01-04,Vente,164370.0,56.0,ALL,0134,DU COURLIS CENDRE,1290.0,CORMORANCHE-SUR-SAONE,123,0,1.0,Maison,88.0,4.0,419.0,01,Ain,647634.0,2018,1,Janvier,88.0,2173.116782,84.0,Auvergne-RhÃ´ne-Alpes,46.153425 5214,4.926114
4,2018-01-15,Vente,97000.0,9.0,RUE,0133,DU CHATEAU D EAU,1750.0,SAINT-LAURENT-SUR-SAONE,370,1,2.0,Appartement,90.0,4.0,NaN,01,Ain,647634.0,2018,1,Janvier,90.0,2173.116782,84.0,Auvergne-RhÃ´ne-Alpes,46.153425 5214,4.926114

In [15]:
d3.to_csv('../../assets/data/new-dashboard-data.csv', sep='|', index=False)

In [101]:
median = prix_carre['metre carre'].median()
median

1739.6622397551428

In [102]:
dept_pop_prix = d3.drop_duplicates(subset=['code_departement'])[['code_departement', 'population', 'metre carre']]
dept_pop_prix

       code_departement  population  metre carre
0                    01    647634.0  2173.116782
5451                 02    533316.0  1251.939757
9777                 03    337171.0  1089.487910
12239                04    164068.0  1808.892591
13914                05    140698.0  2025.721635
...                 ...         ...          ...
504518               92   1619120.0  5554.240179
519566               93   1632677.0  3633.606225
531194               94   1396913.0  4366.191153
542710               95   1238581.0  3107.503016
553318               75   2175601.0  8638.625837

[93 rows x 3 columns]

In [96]:
prix_carre= d3.groupby(['code_departement'])["metre carre"].mean()
prix_carre = prix_carre.reset_index()
prix_carre

   code_departement  metre carre
0                01  2173.116782
1                02  1251.939757
2                03  1089.487910
3                04  1808.892591
4                05  2025.721635
..              ...          ...
88               91  3088.869290
89               92  5554.240179
90               93  3633.606225
91               94  4366.191153
92               95  3107.503016

[93 rows x 2 columns]

In [103]:
dept_pop_prix

       code_departement  population  metre carre
0                    01    647634.0  2173.116782
5451                 02    533316.0  1251.939757
9777                 03    337171.0  1089.487910
12239                04    164068.0  1808.892591
13914                05    140698.0  2025.721635
...                 ...         ...          ...
504518               92   1619120.0  5554.240179
519566               93   1632677.0  3633.606225
531194               94   1396913.0  4366.191153
542710               95   1238581.0  3107.503016
553318               75   2175601.0  8638.625837

[93 rows x 3 columns]

In [138]:
dfDepts33 = dfDepts.merge(dept_pop_prix, how='left', on='code_departement')

In [139]:
dfDepts33['metre carre'].fillna(median, inplace=True)

In [142]:
dfDepts33.at[57, 'population']=1036000

In [143]:
dfDepts33.at[67, 'population']=1127000

In [145]:
dfDepts33.at[68, 'population']=760000

In [147]:
dfDepts33.at[96, 'population']=407000
dfDepts33.at[97, 'population']=352000
dfDepts33.at[98, 'population']=294000
dfDepts33.at[99, 'population']=860000
dfDepts33.at[100, 'population']=270000

In [148]:
dfDepts33[dfDepts33['population'].isna()]

Empty DataFrame
Columns: [code_departement, nom_departement, code_region, nom_region, population, metre carre]
Index: []

In [149]:
dfDepts33

,code_departement,nom_departement,code_region,nom_region,population,metre carre
0,01,Ain,84,Auvergne-RhÃ´ne-Alpes,647634.0,2173.116782
1,02,Aisne,32,Hauts-de-France,533316.0,1251.939757
2,03,Allier,84,Auvergne-RhÃ´ne-Alpes,337171.0,1089.487910
3,04,Alpes-de-Haute-Provence,93,Provence-Alpes-CÃ´te d'Azur,164068.0,1808.892591
4,05,Hautes-Alpes,93,Provence-Alpes-CÃ´te d'Azur,140698.0,2025.721635
...,...,...,...,...,...,...
96,971,Guadeloupe,01,Guadeloupe,407000.0,1739.662240
97,972,Martinique,02,Martinique,352000.0,1739.662240
98,973,Guyane,03,Guyane,294000.0,1739.662240
99,974,La RÃ©union,04,La RÃ©union,860000.0,1739.662240
100,976,Mayotte,06,Mayotte,270000.0,1739.662240

In [152]:
x = dfDepts33[dfDepts33['code_departement'] == '01']

In [155]:
x['population'].values[0]

647634.0

In [150]:
dfDepts33.to_csv('../../assets/data/departement.csv', sep=';', index=False)

0      False
1      False
2      False
3      False
4      False
       ...
96      True
97      True
98      True
99      True
100     True
Name: population, Length: 101, dtype: bool

In [45]:
dff =d3.copy()

In [51]:
dfRegions = pd.read_csv('../../assets/data/regions.csv', sep=';')
dfDepts = pd.read_csv('../../assets/data/departement.csv', sep=';')

In [ ]:
[
    {'label': 'Maison', 'value': 'Maison'},
    {'label': 'Appartement', 'value': 'Appartement'},
    {'label': 'DÃ©pendance', 'value': 'DÃ©pendance'},
    {'label': 'Local industriel', 'value': 'Local industriel. commercial ou assimilÃ©'},
]